html {
    min-height: 100%;
    background: rgb(23, 13, 1);
    background: linear-gradient(229deg,
            rgba(23, 13, 1, 1) 10%,
            rgba(198, 65, 4, 1) 38%,
            rgba(219, 86, 8, 1) 100%);
}

